$primary: #ff520d;
$secondary: #fbb829;
$light: #f5ede3;
$dark: #104386;
$body: #ffd3c2;
$card-border-color: none;
$card-bg: $body;
$font-family-base: "Roboto", sans-serif;
$input-border-color: $primary;
